<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h1 th:text="'Lis of Owners'">Owners List ...</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 300px;">Id</th>
                <th style="width: 300px;">First Name</th>
                <th style="width: 300px;">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner?.id}">1</td>
                <td th:text="${owner?.firstName}">Vasantha</td>
                <td th:text="${owner?.lastName}">Thumati</td>
            </tr>
        </tbody>
    </table>
</body>
</html>